/*Allows header to scroll down*/
header {
     position:fixed;
     top: 0;
     left: 0;
     width: 100%;
 }

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: 'Roboto Slab', serif; /*Select font from fonts.google.com*/
    font-size: 24px;
    /*The code below lets nav bar move when you scroll*/
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a1b1c1;
}

li a.disabled, li a.disabled:hover{
    background-color: #f1f1f1;
}

h1, h3{
	font-family: 'Montserrat', serif;
}

td {
    height: 50px;
    vertical-align: top;
	text-align: left;
}

a {
	font-family: 'Roboto Mono', serif;
	color: green;
}

.active {
    background-color: #A9A9A9;
}

.oswald {
	font-family: 'Oswald', serif;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}
